# Virtual environment
.venv/

# Environment variables
.env

# Compiled Python files
*.pyc

# Logs
*.log

# Cache and temporary files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
env/
lib/